{% extends "base.html" %}

{% block content %}

<!-- Hero Section -->
<div class="row align-items-center justify-content-center min-vh-100">
    <!-- Text Content -->
    <div class="col-md-6 text-center text-md-start">
        <h1 class="display-4 fw-bold mb-3">Find freelance and full-time developer jobs.</h1>
        <p class="text-muted fs-5">CareerBridge: Your one-stop center for thousands of digital freelance and full-time jobs.</p>
    </div>
    <!-- Image Content -->
    <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/pushpa.jpg') }}" alt="Developer Image" class="img-fluid rounded">
    </div>
</div>

{% endblock %}
