{% extends "base.html" %}

{% block content %}

<div class="signup">
    <div class="box">
        <span class="borderLine"></span>
        <form method="POST" action="/signup">
            <!-- <a href="https://storyset.com/people"></a> -->
           <h1>Create an account</h1>
           <div class="inputbox">
                <label>Username</label>
                <input type="text" name="username" required="required" placeholder="Enter username">
                <!-- <span>Username</span> -->
                <p></p>
           </div>
           <div class="inputbox">
                <label>Password</label>
                <input type="password" name="password" required="required" placeholder="Enter password">
                <p></p>
                <!-- <i id="togglepassword" class="fa fa-eye password-icon"></i> -->
                <!-- <span>Password</span> -->
                <!-- <div class="inputbox">
                    <input type="text" required="required" >
                    <span>Username</span>
                    <p></p>
               </div>
               <div class="inputbox">
                <input type="text" required="required" >
                <span>Username</span>
                <p></p> -->
           </div>
           
           <input type="submit" value="Sign up">
           <!-- <div class="links">
                <a href ="#">Forgot password</a>
           </div>
           <input type="submit" value="Log in">
           <div class="acc">
           <p>Don't have an account yet?&nbsp;&nbsp;</p>
            <a href ="{{ url_for('signup') }}"> Sign up </a>
           </div> -->
        </form>

    </div>
</div>

{% endblock %}